.flex {
  display: flex;
}

.border-solid {
  border-style: solid;
}

.rounded {
  border-radius: 0.25rem;
}

.border-slate-200 {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240/var(--tw-border-opacity));
}

.border-2 {
  border-width: 2px;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.font-bold {
  font-weight: 700;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.w-14 {
  width: 3.5rem;
}
.h-14 {
  height: 3.5rem;
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240/var(--tw-bg-opacity));
}

.cursor-pointer {
  cursor: pointer;
}

.kbd {
  width: 40px;
  height: 58px;
}

.mx-0\.5 {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  margin-bottom: 0.125rem;
}

*, :after, :before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.grow {
  flex-grow: 1;
}